<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="CBBD78D1-5C9E-935D-14BA-1878B42AA70A" Name="MyFences" Language="1033" Version="1.0.0.2"
			 Manufacturer="Nicancor" UpgradeCode="CBBD31D2-3C5E-432E-90BA-887FB42AA704">

		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<!-- Removed: <UIRef Id="WixUI_Minimal" /> -->
		<UIRef Id="WixUI_Minimal" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<Feature Id="ProductFeature" Title="MyFences Installation" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<!-- Custom action to launch the EXE after install -->
		<CustomAction Id="LaunchApplication"
					  FileKey="MyFencesExe"
					  ExeCommand=""
					  Execute="commit"
					  Return="asyncNoWait"
					  Impersonate="yes" />

		<CustomAction Id="CreateScheduledTask"
					  Directory="INSTALLFOLDER"
			  		  ExeCommand='powershell.exe -ExecutionPolicy Bypass -NoProfile -File "[INSTALLFOLDER]RegisterAutoStart.ps1" -InstallFolder &quot;[INSTALLFOLDER]'
			   		  Execute="deferred"
					  Impersonate="no"
					  Return="check" />

		<CustomAction Id="RemoveScheduledTask"
					  Directory="INSTALLFOLDER"
					  Execute="deferred"
					  Impersonate="no"
					  Return="check"
					  ExeCommand='powershell.exe -ExecutionPolicy Bypass -NoProfile -File "[INSTALLFOLDER]UnregisterAutoStart.ps1"' />

		<InstallExecuteSequence>
			<Custom Action="CreateScheduledTask" After="InstallExecute">NOT REMOVE</Custom>
			<Custom Action="LaunchApplication" After="InstallExecute">NOT REMOVE</Custom>
			<Custom Action="RemoveScheduledTask" Before="RemoveFiles">REMOVE</Custom>
		</InstallExecuteSequence>
	</Product>

	<!-- Directories -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MyFences" />
			</Directory>
		</Directory>
	</Fragment>

	<!-- Components -->
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="MainExecutableComponent" Guid="B1D9C6D0-6E0E-4C94-B1E2-AAA1CBBB1111" KeyPath="yes">
				<File Id="MyFencesExe" Source="publish/MyFences.exe"  />
				<File Id="MyFencesExe2" Source="publish/Icon.ico"/>
				<File Id="MyFencesExe3" Source="publish/Microsoft.Win32.SystemEvents.dll"/>
				<File Id="MyFencesExe4" Source="publish/MyFences.deps.json"/>
				<File Id="MyFencesExe5" Source="publish/MyFences.dll"/>
				<File Id="MyFencesExe6" Source="publish/MyFences.runtimeconfig.json"/>
				<File Id="MyFencesExe7" Source="publish/Newtonsoft.Json.dll"/>
				<File Id="MyFencesExe8" Source="publish/System.Drawing.Common.dll"/>
				<File Id="MyFencesExe9" Source="publish/System.Private.Windows.Core.dll"/>
				<File Id="MyFencesExe10" Source="publish/scripts/RegisterAutoStart.ps1"/>
				<File Id="MyFencesExe11" Source="publish/scripts/UnregisterAutoStart.ps1"/>
			</Component>

			<!-- Desktop context menu -->
			<Component Id="DesktopContextMenuComponent" Guid="*">
				<RegistryKey Root="HKCR" Key="DesktopBackground\shell\CreateNewFence" ForceDeleteOnUninstall="yes">
					<RegistryValue Name="MUIVerb" Value="Create new fence" Type="string" />
					<RegistryValue Name="Icon" Value="&quot;[INSTALLFOLDER]MyFences.exe&quot;,0" Type="string" />
					<RegistryKey Key="command">
						<RegistryValue Value="&quot;[INSTALLFOLDER]MyFences.exe&quot; NewFence" Type="string" />
					</RegistryKey>
				</RegistryKey>
			</Component>
		</DirectoryRef>

		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="MainExecutableComponent" />
			<ComponentRef Id="DesktopContextMenuComponent" />
		</ComponentGroup>
	</Fragment>
</Wix>